<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>要約中</title>
  </head>
  <body>
    <h1>要約システム</h1>
    <form action="index2" method="post">
      要約したい文章を入力してください<br>
    <textarea name="youyakumae" rows="25" cols="100" placeholder="こちらに記入してください"></textarea></br>
    <input type="submit" value="要約する">
    <p>要約した文章</p>
    <textarea name="youyakugo" rows="10" cols="100"></textarea>
  </form>
  </body>
</html>